.box{
  border: 2px solid black;
  padding: .5em;
}
.top{
  color: #375e97;
  font: Georgia;
  font-weight: 1000;
  font-size: 175%;
}
#texto{
  font: Arial;
}
.line{
  color: #375e97;
}
.sub{
  color: #999999;
}
.cont{
  font-weight: bold;
  font-size: 150%;
}
.link{
  color: #fb6542;
}